.Modal_container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Add emploiyee modal */
.add_Staff--Modal {
    width: 35%;
    min-height: 83%;
    position: absolute;
    z-index: 999;
    background-color: var(--background-layout);
    padding: 1%;
    border-radius: 2%;
    overflow-y: auto;
}

.header_add_staff--Modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_add_staff--Modal>p {
    font-size: larger;
    font-weight: 600;
}

.header_add_staff--Modal>button {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.header_add_staff--Modal>button:hover {
    background-color: rgba(217, 217, 217, 0.4);
}

.add_Staff--Modal>p {
    font-size: small;
    color: var(--more-text-color);
    margin-top: 1%;
}

.add_Staff--Modal>form {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add_Staff--Modal>form>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.partie_form--addStaffModal {
    display: flex;
    gap: 5%;
}

.partie_form--addStaffModal>div {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 10px;
}

.partie_form--addStaffModal>div>input , .partie_form--addStaffModal>div>select {
    width: 100%;
    height: 30px;
    padding-left: 5%;
    border: none;
    background-color: rgba(217, 217, 217, 0.4);
    border-radius: 7px;
    outline: none;
    padding-left: 5%;
}

.partie_form--addStaffModal>div>select {
    width: 105%;
}

.picture_Form--addStaffModal {
    display: flex;
    align-items: center;
    margin-left: 5%;
    gap: 20px;
}

.picture_Form--addStaffModal>div:nth-child(1) {
    width: 100px;
    height: 100px;
    background-color: rgba(217, 217, 217, 0.4);
    border-radius: 7px;
    border: 2px dashed var(--more-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture_Form--addStaffModal>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.picture_Form--addStaffModal>div:nth-child(2)>input {
    width: 170%;
    height: 30px;
    padding-left: 5%;
    border: none;
    background-color: rgba(217, 217, 217, 0.4);
    border-radius: 7px;
    outline: none;
    padding-left: 5%;
}

.picture_Form--addStaffModal>div:nth-child(2)>p {
    font-size: small;
    color: var(--more-text-color);
}

.experience_Form--addStaffModal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience_Form--addStaffModal>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience_Form--addStaffModal>div:nth-child(1)>button {
    background: none;
    font-size: 17px;
    font-weight: 500;
    padding: 1%;
    border-radius: 10px;
    border: 0.5px solid var(--more-text-color);
    cursor: pointer;
}

.experience_Form--addStaffModal>div:nth-child(1)>button:hover {
    background-color: var(--more-color);
}

.experience_Form--addStaffModal>div:nth-child(2) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.experience_Form--addStaffModal>div:nth-child(2)>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    gap: 3%;
    background-color: rgba(217, 217, 217, 0.4);
    border-radius: 20px;
}

.experience_Form--addStaffModal>div:nth-child(2)>div input {
    background-color: var(--more-color);
    border: none;
    outline: none;
    height: 70%;
    width: 42%;
    border-radius: 7px;
    padding-left: 12px;
}

.experience_Form--addStaffModal>div:nth-child(2)>div>div {
    display: flex;
    width: 42%;
    height: 70%;
    gap: 2%;
}

.experience_Form--addStaffModal>div:nth-child(2)>div>div input {
    width: 45%;
    height: 100%;
}

.add_Staff--Modal>form input:focus {
    border: 0.1px solid #8c8c8c;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
}

.buttons_Form--addStaffModal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.buttons_Form--addStaffModal>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 85%;
    border-top: 0.5px solid var(--more-text-color);
    padding-top: 3%;
}

.buttons_Form--addStaffModal>div>button {
    width: 45%;
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: large;
}

.buttons_Form--addStaffModal>div>button:nth-child(1) {
    background: none;
    border: 1px solid #8c8c8c;
    cursor: pointer;
}

.buttons_Form--addStaffModal>div>button:nth-child(1):hover {
    background-color: var(--more-color);
}

.buttons_Form--addStaffModal>div>button:nth-child(2) {
    background-color: var(--button);
    color: white;
    cursor: pointer;
}

.buttons_Form--addStaffModal>div>button:nth-child(2):hover {
    background-color: var(--botton-hover);
}


/* Emploiyee Detai  */
.emploiyee_detail--Modal {
    width: 30%;
    max-height: 83%;

    position: absolute;
    z-index: 999;
    background-color: var(--background-layout);
    padding: 1%;
    border-radius: 2%;
    overflow-y: auto;
}

.emploiyee_detail--Modal--header {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-bottom: 0.2px solid var(--more-text-color);
    height: 20%;
    padding-bottom: 25px;
}

.emploiyee_detail--Modal--header>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emploiyee_detail--Modal--header>div:nth-child(1)>P {
    font-size: larger;
    font-weight: 600;
}

.emploiyee_detail--Modal--header>div:nth-child(1)>button {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.emploiyee_detail--Modal--header>div:nth-child(1)>button:hover {
    background-color: rgba(217, 217, 217, 0.4);
}

.emploiyee_detail--Modal--header>div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.emploiyee_detail--Modal--header img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.emploiyee_detail--Modal--header>div:nth-child(2)>p:last-child {
    width: 20%;
    text-align: center;
    font-size: small;
    border-radius: 10px;
}

.emploiyee_detail--Modal--body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 20px;
    min-height: 70%;
}

.emploiyee_detail--Modal--body>div:first-child , .emploiyee_detail--Modal--body>div:last-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.emploiyee_detail--Modal--body>div>p {
    color: #7387B7;
    font-size: 15px;
}

.contact_info--div>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Experience_info>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact_info--div>div>div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #F5F5F5;
    border-radius: 5px;
}

.Experience_info>div>div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #D0FAE5;
    border-radius: 5px;
}

.contact_info--div>div>div:last-child>p:first-child , .Experience_info>div>div:last-child>p:first-child {
    font-size: x-small;
    color: #7387B7;
}

.contact_info--div>div>div:last-child>p:last-child , .Experience_info>div>div:last-child>p:last-child {
    font-size: small;
}

.close_emoloyee_detaille--Button2 {
    height: 10%;
    border-top: 0.2px solid var(--more-text-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close_emoloyee_detaille--Button2>button {
    width: 90%;
    height: 30px;
    background: none;
    cursor: pointer;
    border: 0.2px solid #8c8c8c;
    border-radius: 10px;
}

.close_emoloyee_detaille--Button2>button:hover {
    background-color: var(--more-color);
}