/* Phone */
@media (max-width: 767px) {
    body {
        overflow: auto;
        min-height: 100vh;
        flex-direction: column;
        overflow-x: hidden;
    }

    .unassigned_Staff--section , .stats_Activity--section {
        width: 100%;
        display: flex;
    }

    .floor_Plan--section {
        width: 100%;
    }

    .search_UNST--partie {
        width: 25%;
        height: 100%;
        gap: 15px;
    }
}